
.text-rtl{
    direction: rtl;
}
.carousel{
    height:50vh;
}
.carousel-item{
    height: 100%;
}
.carousel img {
    width: 100%;
    height: 100%;
}

.ads{
    height: 30vh;
    width: 100%;
}

.footer-item{
    color: #FFF;
    text-align: center;
}

/* supplier page style */
.breadcrumb-item+.breadcrumb-item::before{
    float: right;
}

@media screen and  (max-width:500px) {
    .carousel{
        height: 20vh;
    }
    .p-1{
        padding: .1rem!important;
    }
    .my-5{
        margin: 1rem 0 !important;
    }
    .navbar-brand{
        font-size: 17px;
    }
}